*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lavender;
    font-family: roboto;
}

.container{
    padding-top: 20px;
}

h1{
    margin-top: ;
    text-align: center;
    font-weight: 900;
    margin-bottom: 25px;
}

.card{
    margin: 0 auto;
    max-width: 350px;
    text-align: center;
    margin-top: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    transition: 0.3s;
    font-size: 0px;
}

.card:hover{
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

.calc-head #result{
    width: 335px;
    height: 100px;
    font-size: 32px;
    font-weight: bold;
    text-align: right;
    padding: 0px 5px;
    letter-spacing: 2px;
}

.btn{
    width: 87px;
    height: 70px;
    font-weight: bold;
    font-size: 18px;
    background-color: #1f2326;
    color: white;
}

.btn-style{
    background-color: #5f4bb6;
}

.btn:hover{
    background-color: pink;
}


p{
    text-align: center;
    margin-top: 25px;
    font-size: 12px;
    font-weight: 300;
    color: #555;
}



@media (max-width: 350px){
    
}









